body {
    font-family: 'Montserrat', sans-serif;    
}           

a {
    text-decoration: none;
}

.wrapper {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);  
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;

        height: 10px;

        border-radius: 0px 0px 12px 12px;
    }

    &::before {        
        bottom: -10px;

        width: calc(100% - 40px);        
        margin: 0 20px;

        background: #CACADB;       
    }

    &::after {        
        bottom: -20px;

        width: calc(100% - 80px);        
        margin: 0 40px;

        background: #E7E7F2;        
    }
}

.wrapper__symbolH {
    position: absolute;
    top: 0;
    left: -74px;

    width: 449px;
    height:  600px;
    overflow: hidden;

    .symbolH {
        width: 523.4px;
        height: 600px;        
    }
}

.wrapper--special {
    padding: 0.1px 30px 0;    
}

.title {
    position: relative;
    z-index: 4;

    margin-top: 129px;
    margin-right: 15px;
    margin-bottom: 159px;

    text-align: center;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 2.895rem;

    color: #ffffff;
}

#scroll {    
    display: none;
        
    & + label {
        position: relative;
        left: calc(50% - 42px/2);
        z-index: 10;
        top: 0;
        cursor: pointer;        
    }
    
    & + label:hover .scroll__svg > circle, 
    & + label:hover .scroll__svg > path{
        stroke: $colorsAccent; 
    }

    &:checked ~ .main {
        display: none;        
    }

    &:checked ~ label .scroll__svg {        
        margin-bottom: 120px;
    }  
} 

/*----MAIN----*/

.main {
    margin-top: 60px;
}

.main__nav {
    @include flex (row, space-between);
    flex-wrap: wrap;

    position: relative;
    z-index: 10;    
    padding-bottom: 30px;

    border-bottom: 4px solid #FFFFFF4D;
    
    .nav__link {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 2.25rem;

        color:#B3B3BA;

        &:hover {
            color: $colorsAccent;
        }        
    }

    .nav__link--special {
        background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        @include textGradient;       

        &:hover {
            background: $colorsAccent; 
            @include textGradient;          
        }
    }
}

.main__item {
    margin-top: 30px;

    color: #ffffff;
    
    .main__subtitle {
        margin-bottom: 30px;

        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: bold;        
    }         

    .main__text {
        font-size: 1.1875rem;
        line-height: 1.875rem;
    }
}

.title__link {
    @include flex (row, flex-start);
    align-items: center;

    max-width: max-content;
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.0625rem;
    text-transform: uppercase; 

    color: $colorsActive;

    svg {
        margin-left: 2px;
    }

    &:hover {
        color: $colorsAccent;
    }

    &:hover svg > path {
        stroke: $colorsAccent;
    }
}

.title__link--special {
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 5px;
}

.main__title {  
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    @include textGradient; 
}

.main__container--special {
    padding-bottom: 60px;
}

.main__subtitle--special {
    margin-top: 30px;
    margin-bottom: 15px;

    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 700;

    color: $colorsActive;
}

.main__box {
    margin-top: 30px;
}

.main__text--special {
    font-weight: 400;
    line-height: 1.625rem;
    color: #ffffff;

}

/*----SLIDER----*/

.slider {    
    @include flex ( column, center);
    align-items: center;

    position: relative;
    
    margin-top: 50px;
    
    .slider__item {
        @include flex (column, flex-start);  
        border-radius: 12px 12px 0px 0px;     
    }   
    
    .slider__item--special {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
        
    .slider__img {
        width: 100%;
        height: 500px;
        
        background: $colorsBgAlt url(../img/OleksandrOleksandrovsky.png) 50% 100% no-repeat; 
        background-size: cover; 
        border-radius: 12px 12px 0px 0px;  
    }

    .slider__img--special {
        background: $colorsBgAlt url(../img/EvgenyPatrikov.png) 50% 100% no-repeat;
        background-size: cover;  
    }

    .slider__img--changed {
        background: $colorsBgAlt url(../img/VladislavMelnik.png) 50% 100% no-repeat;
        background-size: cover; 
    }

    .slider__wrapper {
        padding: 30px 30px 30px;

        background: $colorsBg;  
    }

    .slider__svg {
        width: 100%;        
    }

    .slider__text,
    .slider__subtext {
        color: $colorsText;
    }

    .slider__text {
        margin-bottom: 6px;

        font-weight: 700;
        line-height: 1.1875rem;
    }

    .slider__subtext {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
    }

    .slider__control {
        margin-top: 30px;       

        input {
            display: none;
        }

        label {
            margin-right: 15px;
            cursor: pointer;
        }

        input:checked + label > svg > circle {              
            opacity: 1;      
        } 

        input:hover + label > svg > circle {              
            opacity: 0.6;      
        }       
    }    
}

.heading {
    padding-bottom: 30px;

    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    word-wrap: break-word;

    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    @include textGradient;
}

.subtitle {
    margin-bottom: 60px;
    margin-top: 30px;


    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    color: $colorsMain;
}

/*----GRID----*/

.grid__item {
    @include flex (row, center);
    align-items: center;

    width: 100%;
    height: 120px;    
}

.grid__item--special {
    display: none;
}

.grid__item:nth-child(1) {
    background: #1C4280;    
}

.grid__item:nth-child(2) {
    background: #143646;    
}

.grid__item:nth-child(3) {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;   
}

.grid__item:nth-child(4) {
    background: #9E4DC3;        
}

.grid__item:nth-child(5) {
    background: #FD9339;   
}

.grid__item:nth-child(6) {
    background: #E2E2E4;  
}

.grid__item:nth-child(7) {
    background: #C71C36;   
}

.grid__item:nth-child(8) {
    background: #DCF3F9;   
}

.grid__item:nth-child(9) {
    background: #EAEAEA;  
}

.grid__item:nth-child(10) {
    background: #282240;
}

.grid__item:nth-child(11) {
    background: #1D4568;   
}

.grid__item:nth-child(12) {
    background: #000000;   
}

/*----SECTION----*/

.wrapper--changed {
    background: $colorsBg;
}

.section__item {
    padding-bottom: 30px;    

    .section__img {
        height: 200px;
        background: $colorsBgAlt url(../img/work.png) 50% 50% no-repeat;
        background-size: cover; 
        border-radius: 8px 8px 0px 0px
    }

    .section__img--special {
        background: $colorsBgAlt url(../img/gdpr.png) 55% 50% no-repeat;        
        background-size: cover; 
    }

    .section__img--changed {
        background: $colorsBgAlt url(../img/team.png) 50% 50% no-repeat;        
        background-size: cover;
    }

    .section__wrapper {
        padding: 30px;

        background: #ffffff;
    }

    .section__title {
        margin-bottom: 15px;
        line-height: 1.1875rem;
        font-weight: 700;

        color: $colorsActive;
    }

    .section__subtitle {  
        font-size: 0.75rem;
        line-height: 0.9375rem;
        font-weight: 700;
        text-transform: uppercase;

        color: $colorsText;
    }

    .section__text {        
        margin-top: 15px;
        padding-top: 15px;

        font-size: 0.875rem;
        line-height: 1.375rem;

        border-top: 4px solid #E6E6F0;        
    }
}

@media screen and (min-width: 768px) {
    .wrapper__symbolH {        
        left: -63px;
    
        width: 831px;
        height: 1024px;
            
        .symbolH {
            width: 893.28px;
            height: 1024px;        
        }
    }

    .wrapper--special {
        padding: 0.1px 60px 0;
    }

    .title {        
        margin-top: 270px;   
        margin-bottom: 417px;    
    }

    /*----MAIN----*/
    
    .main {
        margin-top: 90px;
    }

    .main__nav {
        padding-bottom: 60px;

        .nav__link {
            font-size: 2.375rem;            
            line-height: 2.875rem;
        }  
    }
    
    .main__item {
        margin-top: 60px;
    
        .main__subtitle {
            font-size: 1.875rem;
            line-height: 2.3125rem;
        } 
    }

    .title__link {
        margin-top: 60px;
    }

    .title__link--special {
        margin-top: 0;        
    }

    .main__title {    
        font-size: 2.375rem;
        line-height: 2.875rem;
    }

    .main__container--special {
        @include flex (row, space-between);
        flex-wrap: wrap;
    }

    .main__box {      
        width: 45.37%;  
        margin-top: 60px;  
    }

    /*----SLIDER----*/

    .slider {        
        .slider__img {            
            background: $colorsBgAlt url(../img/OleksandrOleksandrovsky.png) 50% 50% no-repeat; 
            background-size: cover;            
        }

        .slider__img--special {
            background: $colorsBgAlt url(../img/EvgenyPatrikov.png) 50% 50% no-repeat; 
            background-size: cover;  
        }

        .slider__img--changed {
            background: $colorsBgAlt url(../img/VladislavMelnik.png) 50% 50% no-repeat;
            background-size: cover; 
        }        
    }

    .heading {
        font-size: 2.375rem;
        line-height: 2.875rem;         
    }

    /*----GRID----*/

    .grid {
        @include flex (row, space-between);
        flex-wrap: wrap;
    }

    .grid__item { 
        width: calc(100%/3);            
    }
    
    .grid__item--special {
        display: flex;
    }

    /*----SECTION----*/

    .section {
        @include flex (row, space-between);
        flex-wrap: wrap;
    }

    .section__item {
        display: flex;
        flex-direction: column;
        
        .section__wrapper {
            flex-grow: 2;
        }      
        
        width: calc(100%/2 - 15px); 
    }

    .section__item--special {
        width: 100%;
    }    
}        

@media screen and (min-width: 1024px) {
    .wrapper__symbolH {        
        left: 17.28%;
    
        width: 669.96px;
        height: 768px;
    
        .symbolH {
            width: 669.96px;
            height: 768px;        
        }
    }

    .title {
        margin-top: 221px;   
        margin-bottom: 289px;    
    }

    /*----MAIN----*/

    .main__container {
        @include flex (row, center);
    }

    .main__nav {
        @include flex (column, space-between);
        align-items: flex-end;
        
        margin-right: 30px;
        padding-right: 30px;
        padding-bottom: 0;

        border-right: 4px solid #FFFFFF4D;
        border-bottom: none;

        .nav__link {
            font-size: 2.375rem;            
            line-height: 2.875rem;
        }  
    }
    
    .main__item {
        margin-top: 0;
        width: 52%;
    
        .main__subtitle {
            font-size: 1.875rem;
            line-height: 2.3125rem;
        } 
    }

    .main__box {      
        width: 28.9%; 
    }

    /*----SLIDER----*/

    .slider {

        .slider__item {
            @include flex (row, flex-start);           
        }
    
        .slider__img {   
            width: 44.2477%;         
            height: 528px;  

            border-radius: 12px 0px 0px 0px;                 
        }  

        .slider__wrapper {
            width: 55.752%;
            border-radius: 0px 12px 0px 0px;
        }        
    }

    /*----GRID----*/

    .grid__item { 
        width: calc(100%/4);            
    }

    /*----SECTION----*/

    .section__item,
    .section__item--special { 
        width: calc(100%/3 - 15px); 
    }
}

@media screen and (min-width: 1440px) {
    .wrapper__symbolH {     
        left: 25.833%;
        
        width: 697px;
        height: 799px;
    
        .symbolH {
            width: 697px;
            height: 799px;        
        }
    }

    .title {
        margin-top: 237px;   
        margin-bottom: 305px;    
    }

    /*----MAIN----*/

    .main__nav {
        margin-right: 60px;
        padding-right: 60px;
    }
    
    .main__item {
        width: 44%;
        margin: 43px 0;
    }

    .main__box {      
        width: 27.77%; 
    }

    /*----SLIDER----*/

    .slider {

        .slider__img {   
            width: 30.3%;         
            height: 344px;                  
        }  

        .slider__wrapper {
            width: 69.7%;
        }
    }
}

@media screen and (min-width: 1920px) {
    .wrapper__symbolH {     
        left: 27.291%;
        
        width: 872px;
        height: 1000px;
    
        .symbolH {
            width: 872px;
            height: 1000px;        
        }
    }

    .wrapper--special {
        padding: 0.1px 160px 0;
    }

    .title {        
        margin-top: 362px;   
        margin-bottom: 405px;    
    }

    /*----MAIN----*/

    .main__box {      
        width: 30.83%; 
    }

    /*----SLIDER----*/

    .slider {
        .slider__img {   
            width: 25%;         
            height: 298px;                  
        }  

        .slider__wrapper {
            width: 75%;            
        }
    }

    /*----GRID----*/

    .grid {
        margin: 0 100px 60px;
        border-radius: 50%;       
    }

    .grid__item:nth-child(1) {
        border-radius: 12px 0 0 0;   
    }
    
    .grid__item:nth-child(4) {
        border-radius: 0 12px 0 0;     
    }
    
    .grid__item:nth-child(9) {
        border-radius: 0 0 0 12px;   
    }
    
    .grid__item:nth-child(12) {
        border-radius: 0 0 12px 0;         
    }    
} 