/*----CONTACT----*/

.inner {
    margin: 30px;

    .aside {
        .aside__item {
            @include flex (column, flex-start);
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 4px solid #E6E6F0;

            .aside__text {
                font-size: 1.3125rem;
                line-height: 1.875rem;

                color: #323264;
            }

            .aside__link {
                max-width: max-content;

                font-size: 1.3125rem;
                line-height: 1.875rem;

                color: #46466E;
            }

            .aside__link--special {
                margin-top: 15px;

                color: #24A3FF;
            }
        }

        .aside__link--changed {
            @include flex (row, flex-start);
            max-width: max-content;            

            & > span {
                align-self: center;

                margin-left: 10px;

                font-size: 0.75rem;
                line-height: 1rem;
                font-weight: 700;
                color: #24A3FF;
            }

            &:hover > svg > path {
                fill: #F0145A; 
                transition: all 0.5s ease;                   
            } 

            &:hover > span {
                color: #F0145A;
                transition: all 0.5s ease; 
            }
        }
    }

    .form {
        margin-top: 30px;
        padding: 30px;

        background: #F5F5FA;
        border-radius: 12px;

        .form__title {
            margin-bottom: 30px;

            font-size: 1.875rem;
            line-height: 2.25rem;
            font-weight: 700;

            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;            
        }

        input {            
            width: 100%;
            height: 56px;
            margin-bottom: 15px;
            padding: 15px;

            font-size: 1rem;
            line-height: 1.625rem; 

            border: 1px solid #FFFFFF;
            border-radius: 8px; 

            &:focus {
                outline: 1px solid #24A3FF;
            }

            &::placeholder {
                font-family: 'Montserrat', sans-serif;    
                font-size: 1rem;
                line-height: 1.625rem; 
    
                color: #B3B3BA;                
            }
        }

        .textarea {
            width: 100%;
            height: 130px;
            margin-bottom: 15px;
            padding: 15px;

            font-family: 'Montserrat', sans-serif;    
            font-size: 1rem;
            line-height: 1.625rem; 

            resize: none;   
            
            border: none;
            border-radius: 8px;

            &:focus {
                outline: 1px solid #24A3FF;
            }

            &::placeholder {                
                font-family: 'Montserrat', sans-serif;    
                font-size: 1rem;
                line-height: 1.625rem; 
    
                color: #B3B3BA;
            }
        }
        
        label > p {
            margin: 15px 0;
            font-size: 0.875rem;
            line-height: 1.0625rem;
            font-weight: 700;
            text-transform: uppercase;

            color: #B3B3BA;;
        }

        .form__button {
            margin-bottom: 15px;
            cursor: pointer;

            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25rem;

            color: #FFFFFF;
            background-color: #24A3FF;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border-radius: 12px;
            border: none;

            &:hover {
                background: #0085FF;
            }

            &:active {
                background: #006CCF;
            }
        }  
    }
}


@media screen and (min-width: 768px) {
    .inner {
        margin: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .inner {
        @include flex (row, center);
    
        .aside {
            margin-right: 60px;
        }
    
        .form {
            margin-top: 0;
        }
    
        .aside,
        .form {
            width: calc(100%/2 - 30px);
        }    
    }
}

@media screen and (min-width: 1440px) {
    .inner {
        .aside,
        .form {
            width: calc(100%/2 - 150px);
        } 
    } 
}

@media screen and (min-width: 1920px) {
    .inner {
        .aside,
        .form {
            width: calc(100%/2 - 250px);
        } 
    } 
}