@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}     

@mixin textGradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}