body {
  background-color: #323264;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 15px 10px 15px;
}

.header .header__logo svg {
  width: 69.33px;
  height: 32px;
}

.header #check__menu {
  display: none;
}

.header #check__menu:checked ~ .header__container .nav {
  display: block;
}

.header #check__menu:checked ~ label .header__burger {
  border-radius: 8px;
  background: #E6E6F0;
}

.header #check__menu:checked ~ #nav__cross + label > span {
  display: table;
}

.header .header__burger {
  position: absolute;
  top: 57.5px;
  right: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header .header__burger span {
  position: absolute;
  top: 15px;
  left: 7px;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
}

.header .header__burger::before, .header .header__burger::after {
  content: '';
  position: absolute;
  left: 7px;
  width: 18px;
  height: 2px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #FFFFFF;
}

.header .header__burger::before {
  top: 9px;
}

.header .header__burger::after {
  bottom: 9px;
}

.header #nav__cross {
  display: none;
  position: relative;
}

.header #nav__cross + label > span {
  position: absolute;
  top: 121px;
  right: 27px;
  z-index: 4;
  cursor: pointer;
  display: none;
  width: 18px;
  height: 18px;
}

.header #nav__cross + label > span::before, .header #nav__cross + label > span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #EC6F5D;
}

.header #nav__cross + label > span::before {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header #nav__cross + label > span::after {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.1875rem;
}

.header .header__container .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #F5F5FA33;
}

.header .header__container .header__item span,
.header .header__container .header__item a {
  color: #FFFFFF;
}

.header .header__container .header__item input {
  display: none;
}

.header .header__container .header__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 33px;
  height: 25px;
  border-radius: 8px;
}

.header .header__container .header__item label:hover {
  background: #FFFFFF33;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .header__container .header__item label .label__text {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem;
  text-transform: uppercase;
}

.header .header__container .header__item #check__lngUk:checked + label,
.header .header__container .header__item #check__lngRu:checked + label,
.header .header__container .header__item #check__lngEn:checked + label {
  background-color: #F0145A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__container .header__item .header__text {
  display: none;
}

.header .header__container .header__item > svg {
  display: none;
}

.header .header__container .header__item .header__link {
  position: absolute;
  top: 12.5px;
  right: 15px;
  font-weight: 700;
}

.header .header__container .header__item .header__link--special svg {
  display: none;
}

.header .header__container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 105px;
  left: 0;
  display: none;
  width: 95.734%;
  margin: 0 2.13%;
  padding: 64px 12px 12px;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
}

.header .header__container .nav .nav__item {
  width: 100%;
  margin-top: 15px;
  padding: 7px 0;
  text-align: center;
  background: #F5F5FA;
  border-radius: 12px;
}

.header .header__container .nav .nav__link {
  padding-bottom: 3px;
  font-weight: 700;
  color: #24A3FF;
}

.header .header__container .nav .nav__link:hover {
  border-bottom: 2px solid;
}

.header .header__container .nav .nav__link--special {
  color: #F0145A;
  border-bottom: 2px solid;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 50px 60px 5px 60px;
  }
  .header .header__logo {
    margin: 55px 0 0 0;
  }
  .header .header__logo svg {
    width: 130px;
    height: 60px;
  }
  .header .header__burger {
    display: none;
  }
  .header #nav__triangle + label > span {
    display: none;
  }
  .header .header__container .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 50px;
    left: 60px;
    width: 482px;
    padding: 0;
    background: none;
  }
  .header .header__container .header__item .header__text {
    display: table;
    font-weight: 400;
  }
  .header .header__container .header__item > svg {
    display: table;
  }
  .header .header__container .header__item .header__link {
    position: static;
  }
  .header .header__container .header__item .header__link--special svg {
    display: table;
  }
  .header .header__container .header__item .header__link--special:hover svg > path {
    fill: #F0145A;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .header__container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    width: 416px;
    margin: 30px 0 0 0;
    padding: 0;
    background: none;
    border-radius: 0;
  }
  .header .header__container .nav .nav__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 0;
    padding: 0;
    background: none;
    border-radius: 0;
  }
  .header .header__container .nav .nav__link {
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
  }
  .header .header__logo {
    margin-top: 0;
  }
  .header .header__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .header .header__container .header__item {
    position: static;
    width: 478px;
  }
  .header .header__container .nav {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding: 50px 160px 5px 160px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper__symbolH {
  position: absolute;
  top: 0;
  left: -74px;
  width: 449px;
  height: 600px;
  overflow: hidden;
}

.wrapper__symbolH .symbolH {
  width: 523.4px;
  height: 600px;
}

.wrapper {
  padding: 0 30px;
}

.title {
  position: relative;
  z-index: 4;
  margin-top: 129px;
  margin-right: 15px;
  margin-bottom: 159px;
  text-align: center;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 2.895rem;
  color: #ffffff;
}

.link__scroll {
  position: relative;
  left: calc(50% - 42px/2);
  z-index: 10;
}

.link__scroll:hover .scroll__svg > circle,
.link__scroll:hover .scroll__svg > path {
  stroke: #F0145A;
}

@media screen and (min-width: 768px) {
  .wrapper__symbolH {
    left: -63px;
    width: 831px;
    height: 1024px;
  }
  .wrapper__symbolH .symbolH {
    width: 893.28px;
    height: 1024px;
  }
  .wrapper {
    padding: 0 60px;
  }
  .title {
    margin-top: 270px;
    margin-bottom: 417px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper__symbolH {
    left: 17.28%;
    width: 669.96px;
    height: 768px;
  }
  .wrapper__symbolH .symbolH {
    width: 669.96px;
    height: 768px;
  }
  .title {
    margin-top: 221px;
    margin-bottom: 289px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper__symbolH {
    left: 25.833%;
    width: 697px;
    height: 799px;
  }
  .wrapper__symbolH .symbolH {
    width: 697px;
    height: 799px;
  }
  .title {
    margin-top: 237px;
    margin-bottom: 305px;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper__symbolH {
    left: 27.291%;
    width: 872px;
    height: 1000px;
  }
  .wrapper__symbolH .symbolH {
    width: 872px;
    height: 1000px;
  }
  .wrapper {
    padding: 0 160px;
  }
  .title {
    margin-top: 362px;
    margin-bottom: 405px;
  }
}
/*# sourceMappingURL=styly.css.map */