.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 15px 10px 15px;
}

.header .header__logo svg {
  width: 69.33px;
  height: 32px;
}

.header #check__menu {
  display: none;
}

.header #check__menu:checked ~ .header__container .nav {
  display: block;
}

.header #check__menu:checked ~ label .header__burger {
  border-radius: 8px;
  background: #E6E6F0;
}

.header #check__menu:checked ~ #nav__cross + label > span {
  display: table;
}

.header .header__burger {
  position: absolute;
  top: 57.5px;
  right: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header .header__burger span {
  position: absolute;
  top: 15px;
  left: 7px;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
}

.header .header__burger::before, .header .header__burger::after {
  content: '';
  position: absolute;
  left: 7px;
  width: 18px;
  height: 2px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #FFFFFF;
}

.header .header__burger::before {
  top: 9px;
}

.header .header__burger::after {
  bottom: 9px;
}

.header .header__burger--color span {
  background-color: black;
}

.header .header__burger--color::before, .header .header__burger--color::after {
  background-color: black;
}

.header #nav__cross {
  display: none;
  position: relative;
}

.header #nav__cross + label > span {
  position: absolute;
  top: 121px;
  right: 27px;
  z-index: 4;
  cursor: pointer;
  display: none;
  width: 18px;
  height: 18px;
}

.header #nav__cross + label > span::before, .header #nav__cross + label > span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #EC6F5D;
}

.header #nav__cross + label > span::before {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header #nav__cross + label > span::after {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.1875rem;
}

.header .header__container .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #F5F5FA33;
}

.header .header__container .header__item span,
.header .header__container .header__item a {
  color: #FFFFFF;
}

.header .header__container .header__item input {
  display: none;
}

.header .header__container .header__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 33px;
  height: 25px;
  border-radius: 8px;
}

.header .header__container .header__item label:hover {
  background: #FFFFFF33;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__container .header__item label .label__text {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem;
  text-transform: uppercase;
}

.header .header__container .header__item #check__lngUk:checked + label,
.header .header__container .header__item #check__lngRu:checked + label,
.header .header__container .header__item #check__lngEn:checked + label {
  background-color: #F0145A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__container .header__item .header__text {
  display: none;
}

.header .header__container .header__item > svg {
  display: none;
}

.header .header__container .header__item .header__link {
  position: absolute;
  top: 12.5px;
  right: 15px;
  font-weight: 700;
}

.header .header__container .header__item .header__link--special svg {
  display: none;
}

.header .header__container .header__item--color {
  background: #F5F5FA;
}

.header .header__container .header__item--color span,
.header .header__container .header__item--color a {
  color: #B3B3BA;
}

.header .header__container .header__item--color label:hover {
  background: #F5F5FA;
}

.header .header__container .header__item--color #check__lngUk:checked + label .label__text,
.header .header__container .header__item--color #check__lngRu:checked + label .label__text,
.header .header__container .header__item--color #check__lngEn:checked + label .label__text {
  color: #FFFFFF;
}

.header .header__container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 105px;
  left: 0;
  display: none;
  width: 95.734%;
  margin: 0 2.13%;
  padding: 64px 12px 12px;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
}

.header .header__container .nav .nav__item {
  width: 100%;
  margin-top: 15px;
  padding: 7px 0;
  text-align: center;
  background: #F5F5FA;
  border-radius: 12px;
}

.header .header__container .nav .nav__link {
  padding-bottom: 3px;
  font-weight: 700;
  color: #24A3FF;
}

.header .header__container .nav .nav__link:hover {
  border-bottom: 2px solid;
}

.header .header__container .nav .nav__link--special {
  color: #F0145A;
  border-bottom: 2px solid;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 50px 60px 5px 60px;
  }
  .header .header__logo {
    margin: 55px 0 0 0;
  }
  .header .header__logo svg {
    width: 130px;
    height: 60px;
  }
  .header .header__burger {
    display: none;
  }
  .header #nav__triangle + label > span {
    display: none;
  }
  .header .header__container .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 50px;
    left: 60px;
    width: 482px;
    padding: 0;
    background: none;
  }
  .header .header__container .header__item .header__text {
    display: table;
    font-weight: 400;
  }
  .header .header__container .header__item > svg {
    display: table;
  }
  .header .header__container .header__item .header__link {
    position: static;
  }
  .header .header__container .header__item .header__link--special svg {
    display: table;
  }
  .header .header__container .header__item .header__link--special:hover svg > path {
    fill: #F0145A;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .header__container .header__item--color {
    background: none;
  }
  .header .header__container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    width: 416px;
    margin: 30px 0 0 0;
    padding: 0;
    background: none;
    border-radius: 0;
  }
  .header .header__container .nav .nav__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 0;
    padding: 0;
    background: none;
    border-radius: 0;
  }
  .header .header__container .nav .nav__link {
    color: #FFFFFF;
  }
  .header .header__container .nav .nav__link--color {
    color: #24A3FF;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
  }
  .header .header__logo {
    margin-top: 0;
  }
  .header .header__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .header .header__container .header__item {
    position: static;
    width: 478px;
  }
  .header .header__container .nav {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding: 50px 160px 5px 160px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
}

.wrapper::before, .wrapper::after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
}

.wrapper::before {
  bottom: -10px;
  width: calc(100% - 40px);
  margin: 0 20px;
  background: #CACADB;
}

.wrapper::after {
  bottom: -20px;
  width: calc(100% - 80px);
  margin: 0 40px;
  background: #E7E7F2;
}

.wrapper__symbolH {
  position: absolute;
  top: 0;
  left: -74px;
  width: 449px;
  height: 600px;
  overflow: hidden;
}

.wrapper__symbolH .symbolH {
  width: 523.4px;
  height: 600px;
}

.wrapper--special {
  padding: 0.1px 30px 0;
}

.title {
  position: relative;
  z-index: 4;
  margin-top: 129px;
  margin-right: 15px;
  margin-bottom: 159px;
  text-align: center;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 2.895rem;
  color: #ffffff;
}

#scroll {
  display: none;
}

#scroll + label {
  position: relative;
  left: calc(50% - 42px/2);
  z-index: 10;
  top: 0;
  cursor: pointer;
}

#scroll + label:hover .scroll__svg > circle,
#scroll + label:hover .scroll__svg > path {
  stroke: #F0145A;
}

#scroll:checked ~ .main {
  display: none;
}

#scroll:checked ~ label .scroll__svg {
  margin-bottom: 120px;
}

/*----MAIN----*/
.main {
  margin-top: 60px;
}

.main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 10;
  padding-bottom: 30px;
  border-bottom: 4px solid #FFFFFF4D;
}

.main__nav .nav__link {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.25rem;
  color: #B3B3BA;
}

.main__nav .nav__link:hover {
  color: #F0145A;
}

.main__nav .nav__link--special {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__nav .nav__link--special:hover {
  background: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__item {
  margin-top: 30px;
  color: #ffffff;
}

.main__item .main__subtitle {
  margin-bottom: 30px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.main__item .main__text {
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

.title__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  text-transform: uppercase;
  color: #24A3FF;
}

.title__link svg {
  margin-left: 2px;
}

.title__link:hover {
  color: #F0145A;
}

.title__link:hover svg > path {
  stroke: #F0145A;
}

.title__link--special {
  margin-top: 0;
  margin-bottom: 5px;
}

.main__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__container--special {
  padding-bottom: 60px;
}

.main__subtitle--special {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.375rem;
  line-height: 1.625rem;
  font-weight: 700;
  color: #24A3FF;
}

.main__box {
  margin-top: 30px;
}

.main__text--special {
  font-weight: 400;
  line-height: 1.625rem;
  color: #ffffff;
}

/*----SLIDER----*/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 50px;
}

.slider .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 12px 12px 0px 0px;
}

.slider .slider__item--special {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.slider .slider__img {
  width: 100%;
  height: 500px;
  background: #EDEDF7 url(../img/OleksandrOleksandrovsky.png) 50% 100% no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0px 0px;
}

.slider .slider__img--special {
  background: #EDEDF7 url(../img/EvgenyPatrikov.png) 50% 100% no-repeat;
  background-size: cover;
}

.slider .slider__img--changed {
  background: #EDEDF7 url(../img/VladislavMelnik.png) 50% 100% no-repeat;
  background-size: cover;
}

.slider .slider__wrapper {
  padding: 30px 30px 30px;
  background: #F5F5FA;
}

.slider .slider__svg {
  width: 100%;
}

.slider .slider__text,
.slider .slider__subtext {
  color: #B3B3BA;
}

.slider .slider__text {
  margin-bottom: 6px;
  font-weight: 700;
  line-height: 1.1875rem;
}

.slider .slider__subtext {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.slider .slider__control {
  margin-top: 30px;
}

.slider .slider__control input {
  display: none;
}

.slider .slider__control label {
  margin-right: 15px;
  cursor: pointer;
}

.slider .slider__control input:checked + label > svg > circle {
  opacity: 1;
}

.heading {
  padding-bottom: 30px;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  word-wrap: break-word;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  margin-bottom: 60px;
  margin-top: 30px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #323264;
}

/*----GRID----*/
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
}

.grid__item--special {
  display: none;
}

.grid__item:nth-child(1) {
  background: #1C4280;
}

.grid__item:nth-child(2) {
  background: #143646;
}

.grid__item:nth-child(3) {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.grid__item:nth-child(4) {
  background: #9E4DC3;
}

.grid__item:nth-child(5) {
  background: #FD9339;
}

.grid__item:nth-child(6) {
  background: #E2E2E4;
}

.grid__item:nth-child(7) {
  background: #C71C36;
}

.grid__item:nth-child(8) {
  background: #DCF3F9;
}

.grid__item:nth-child(9) {
  background: #EAEAEA;
}

.grid__item:nth-child(10) {
  background: #282240;
}

.grid__item:nth-child(11) {
  background: #1D4568;
}

.grid__item:nth-child(12) {
  background: #000000;
}

/*----SECTION----*/
.wrapper--changed {
  background: #F5F5FA;
}

.section__item {
  padding-bottom: 30px;
}

.section__item .section__img {
  height: 200px;
  background: #EDEDF7 url(../img/work.png) 50% 50% no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
}

.section__item .section__img--special {
  background: #EDEDF7 url(../img/gdpr.png) 55% 50% no-repeat;
  background-size: cover;
}

.section__item .section__img--changed {
  background: #EDEDF7 url(../img/team.png) 50% 50% no-repeat;
  background-size: cover;
}

.section__item .section__wrapper {
  padding: 30px;
  background: #ffffff;
}

.section__item .section__title {
  margin-bottom: 15px;
  line-height: 1.1875rem;
  font-weight: 700;
  color: #24A3FF;
}

.section__item .section__subtitle {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #B3B3BA;
}

.section__item .section__text {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  border-top: 4px solid #E6E6F0;
}

@media screen and (min-width: 768px) {
  .wrapper__symbolH {
    left: -63px;
    width: 831px;
    height: 1024px;
  }
  .wrapper__symbolH .symbolH {
    width: 893.28px;
    height: 1024px;
  }
  .wrapper--special {
    padding: 0.1px 60px 0;
  }
  .title {
    margin-top: 270px;
    margin-bottom: 417px;
  }
  /*----MAIN----*/
  .main {
    margin-top: 90px;
  }
  .main__nav {
    padding-bottom: 60px;
  }
  .main__nav .nav__link {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  .main__item {
    margin-top: 60px;
  }
  .main__item .main__subtitle {
    font-size: 1.875rem;
    line-height: 2.3125rem;
  }
  .title__link {
    margin-top: 60px;
  }
  .title__link--special {
    margin-top: 0;
  }
  .main__title {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  .main__container--special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__box {
    width: 45.37%;
    margin-top: 60px;
  }
  /*----SLIDER----*/
  .slider .slider__img {
    background: #EDEDF7 url(../img/OleksandrOleksandrovsky.png) 50% 50% no-repeat;
    background-size: cover;
  }
  .slider .slider__img--special {
    background: #EDEDF7 url(../img/EvgenyPatrikov.png) 50% 50% no-repeat;
    background-size: cover;
  }
  .slider .slider__img--changed {
    background: #EDEDF7 url(../img/VladislavMelnik.png) 50% 50% no-repeat;
    background-size: cover;
  }
  .heading {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  /*----GRID----*/
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid__item {
    width: calc(100%/3);
  }
  .grid__item--special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*----SECTION----*/
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100%/2 - 15px);
  }
  .section__item .section__wrapper {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .section__item--special {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper__symbolH {
    left: 17.28%;
    width: 669.96px;
    height: 768px;
  }
  .wrapper__symbolH .symbolH {
    width: 669.96px;
    height: 768px;
  }
  .title {
    margin-top: 221px;
    margin-bottom: 289px;
  }
  /*----MAIN----*/
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    border-right: 4px solid #FFFFFF4D;
    border-bottom: none;
  }
  .main__nav .nav__link {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  .main__item {
    margin-top: 0;
    width: 52%;
  }
  .main__item .main__subtitle {
    font-size: 1.875rem;
    line-height: 2.3125rem;
  }
  .main__box {
    width: 28.9%;
  }
  /*----SLIDER----*/
  .slider .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slider .slider__img {
    width: 44.2477%;
    height: 528px;
    border-radius: 12px 0px 0px 0px;
  }
  .slider .slider__wrapper {
    width: 55.752%;
    border-radius: 0px 12px 0px 0px;
  }
  /*----GRID----*/
  .grid__item {
    width: calc(100%/4);
  }
  /*----SECTION----*/
  .section__item,
  .section__item--special {
    width: calc(100%/3 - 15px);
  }
}

@media screen and (min-width: 1440px) {
  .wrapper__symbolH {
    left: 25.833%;
    width: 697px;
    height: 799px;
  }
  .wrapper__symbolH .symbolH {
    width: 697px;
    height: 799px;
  }
  .title {
    margin-top: 237px;
    margin-bottom: 305px;
  }
  /*----MAIN----*/
  .main__nav {
    margin-right: 60px;
    padding-right: 60px;
  }
  .main__item {
    width: 44%;
    margin: 43px 0;
  }
  .main__box {
    width: 27.77%;
  }
  /*----SLIDER----*/
  .slider .slider__img {
    width: 30.3%;
    height: 344px;
  }
  .slider .slider__wrapper {
    width: 69.7%;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper__symbolH {
    left: 27.291%;
    width: 872px;
    height: 1000px;
  }
  .wrapper__symbolH .symbolH {
    width: 872px;
    height: 1000px;
  }
  .wrapper--special {
    padding: 0.1px 160px 0;
  }
  .title {
    margin-top: 362px;
    margin-bottom: 405px;
  }
  /*----MAIN----*/
  .main__box {
    width: 30.83%;
  }
  /*----SLIDER----*/
  .slider .slider__img {
    width: 25%;
    height: 298px;
  }
  .slider .slider__wrapper {
    width: 75%;
  }
  /*----GRID----*/
  .grid {
    margin: 0 100px 60px;
    border-radius: 50%;
  }
  .grid__item:nth-child(1) {
    border-radius: 12px 0 0 0;
  }
  .grid__item:nth-child(4) {
    border-radius: 0 12px 0 0;
  }
  .grid__item:nth-child(9) {
    border-radius: 0 0 0 12px;
  }
  .grid__item:nth-child(12) {
    border-radius: 0 0 12px 0;
  }
}

/*----FOOTER----*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 2px solid #E6E6F0;
  background: #F5F5FA;
}

.footer .footer__svg {
  display: none;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.footer__icon:hover > svg > path {
  fill: #F0145A;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.footer__text {
  line-height: 1.1875rem;
  color: #323264;
}

.footer__link {
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #24A3FF;
}

.footer__link,
.footer__link--special {
  margin-top: 10px;
}

.footer__link:hover {
  color: #F0145A;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.footer__link--special {
  line-height: 1.1875rem;
  font-weight: 700;
  color: #46466E;
}

.footer__link--changed {
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: none;
}

.footer__item--special {
  margin-top: 9px;
  line-height: 1.1875rem;
  color: #B3B3BA;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px 125px;
  }
  .footer .footer__svg {
    display: table;
    margin: 0 10px;
  }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link,
  .footer__link--special {
    margin-top: 0;
  }
  .footer__item--special {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px 0 9px;
  }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link,
  .footer__link--special {
    margin-top: 0;
  }
  .footer__item--special {
    position: absolute;
    top: 30px;
    right: 30px;
    margin: 0;
  }
}
/*# sourceMappingURL=styly.css.map */